@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;700&family=Merriweather:wght@300;400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: rgb(67, 67, 67);

  overflow: hidden;
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jura", sans-serif;
}

* {
  box-sizing: border-box;
}